.title {
  /* block level element */
  text-align: center;
  font-family: "Lobster", cursive;
}

.term {
  border: solid 4px red;
  text-align: center;
  width: 45%;
  margin: auto;
  margin-top: 100px;
}

.definition {
  border: solid 4px blue;
  text-align: center;
  width: 45%;
  margin: auto;
  margin-top: 100px;
}

.button {
  text-align: center;
  margin-top: 100px;
}

button {
  background-color: rgb(83, 235, 83);
  color: white;
  padding: 20px;
  border-radius: 4px;
  border-style: none;
cursor: pointer;
}

button:hover {
transform: scale(1.1);
background-color: purple;
animation: effect 0.4s infinite;
transition: 1.5s;
}


@keyframes effect {
    0% {
        transform: translateX(0px);
    }

    20% {
        transform: translateX(-4px);
    }

    40% {
        transform: translateX(-2px);
    }

    60% {
        transform: translateX(4px);
    }

    80% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0px);
    }
}
