.title {
  /* block level element */
  text-align: center;
  font-family: "Lobster", cursive;
}

.term {
  border: solid 4px red;
  border-radius: 16px;
  text-align: center;
  width: 45%;
  margin: auto;
  margin-top: 100px;
}

.definition {
  border: solid 4px blue;
  border-radius: 16px;
  text-align: center;
  width: 45%;
  margin: auto;
  margin-top: 100px;
}

.button {
  text-align: center;
  margin-top: 100px;
}

#check {
  background-color: rgb(83, 235, 83);
  color: white;
  padding: 20px;
  border-radius: 16px;
  border-style: none;
  cursor: pointer;
}

#check:hover {
transform: scale(1.1);
background-color: purple;
animation: effect 0.4s infinite;
transition: 1.5s;
}

#next {
  background-color: rgb(83, 235, 83);
  color: white;
  padding: 20px;
  border-radius: 16px;
  border-style: none;
  cursor: pointer;
}

#next:hover {
transform: scale(1.1);
background-color: red;
animation: yeffect 0.4s infinite;
transition: 1.5s;
}


@keyframes effect {
    0% {
        transform: translateX(0px);
    }

    20% {
        transform: translateX(-4px);
    }
    
    40% {
        transform: translateX(-2px);
    }

    60% {
        transform: translateX(4px);
    }

    80% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes yeffect {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-4px);
    }

    40% {
        transform: translateY(-2px);
    }

    60% {
        transform: translateY(4px);
    }

    80% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(0px);
    }
}
