@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Press+Start+2P&display=swap');

html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Press Start 2P', cursive;
}

*,*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
}

h1{
  text-align: center;
  font-size: 2rem;
  padding:0 3rem;
}

#map {
  height: 60vh;
}
