@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  background-image: url(image/space_background.jpg);
  overflow: hidden;
  font-family: "Raleway";
  margin: 50% 0 0 0;
  position: relative;
}

.wrapper {
  display: flex;
  height: 100%;
  width: 60%;
  margin: 0 auto;

}

.scroll-text {
  color: #ffc909;
  font-size: 3vw;
  line-height: 1.5em;
  font-weight: bold;
  text-align: justify;
  position: relative;
  animation: scroll 60s linear forwards;
}

h1, h2 {
  text-align: center;
}

@keyframes scroll {
  from { top: 0; }
  to { top: -7500px }
}
